USE [AuctionSystemDb]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 10/18/2021 8:11:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[Id] [uniqueidentifier] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[Created] [datetime2](7) NOT NULL,
	[LastModifiedBy] [nvarchar](max) NULL,
	[LastModified] [datetime2](7) NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Code] [varchar](55) NULL,
	[MakeOfId] [int] NULL,
	[SortId] [int] NULL,
 CONSTRAINT [PK_Categories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubCategories]    Script Date: 10/18/2021 8:11:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubCategories](
	[Id] [uniqueidentifier] NOT NULL,
	[CreatedBy] [nvarchar](max) NULL,
	[Created] [datetime2](7) NOT NULL,
	[LastModifiedBy] [nvarchar](max) NULL,
	[LastModified] [datetime2](7) NULL,
	[Name] [nvarchar](50) NOT NULL,
	[CategoryId] [uniqueidentifier] NOT NULL,
	[Code] [varchar](125) NULL,
 CONSTRAINT [PK_SubCategories] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Categories] ([Id], [CreatedBy], [Created], [LastModifiedBy], [LastModified], [Name], [Code], [MakeOfId], [SortId]) VALUES (N'6968329f-6e27-ec11-9a36-e4b97af0664c', NULL, CAST(N'2021-10-07T17:01:02.2400000' AS DateTime2), NULL, NULL, N'Acura', N'ACURA', 1, NULL)
INSERT [dbo].[Categories] ([Id], [CreatedBy], [Created], [LastModifiedBy], [LastModified], [Name], [Code], [MakeOfId], [SortId]) VALUES (N'6a68329f-6e27-ec11-9a36-e4b97af0664c', NULL, CAST(N'2021-10-07T17:01:02.2400000' AS DateTime2), NULL, NULL, N'Alfa Romeo', N'ALFA', 2, NULL)
INSERT [dbo].[Categories] ([Id], [CreatedBy], [Created], [LastModifiedBy], [LastModified], [Name], [Code], [MakeOfId], [SortId]) VALUES (N'6b68329f-6e27-ec11-9a36-e4b97af0664c', NULL, CAST(N'2021-10-07T17:01:02.2400000' AS DateTime2), NULL, NULL, N'AMC', N'AMC', 3, NULL)
GO
INSERT [dbo].[SubCategories] ([Id], [CreatedBy], [Created], [LastModifiedBy], [LastModified], [Name], [CategoryId], [Code]) VALUES (N'909604bf-7027-ec11-9a36-e4b97af0664c', NULL, CAST(N'2021-10-07T17:16:14.6200000' AS DateTime2), NULL, NULL, N'CL Models (4)', N'6968329f-6e27-ec11-9a36-e4b97af0664c', N'CL_MODELS')
INSERT [dbo].[SubCategories] ([Id], [CreatedBy], [Created], [LastModifiedBy], [LastModified], [Name], [CategoryId], [Code]) VALUES (N'919604bf-7027-ec11-9a36-e4b97af0664c', NULL, CAST(N'2021-10-07T17:16:14.6200000' AS DateTime2), NULL, NULL, N' - 2.2CL', N'6968329f-6e27-ec11-9a36-e4b97af0664c', N'2.2CL')
INSERT [dbo].[SubCategories] ([Id], [CreatedBy], [Created], [LastModifiedBy], [LastModified], [Name], [CategoryId], [Code]) VALUES (N'929604bf-7027-ec11-9a36-e4b97af0664c', NULL, CAST(N'2021-10-07T17:16:14.6200000' AS DateTime2), NULL, NULL, N' - 2.3CL', N'6968329f-6e27-ec11-9a36-e4b97af0664c', N'2.3CL')
GO
ALTER TABLE [dbo].[Categories] ADD  CONSTRAINT [DF_Categories_Id]  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[Categories] ADD  CONSTRAINT [DF_Categories_Created]  DEFAULT (getdate()) FOR [Created]
GO
ALTER TABLE [dbo].[SubCategories] ADD  CONSTRAINT [DF_SubCategories_Id]  DEFAULT (newsequentialid()) FOR [Id]
GO
ALTER TABLE [dbo].[SubCategories] ADD  CONSTRAINT [DF_SubCategories_Created]  DEFAULT (getdate()) FOR [Created]
GO
ALTER TABLE [dbo].[SubCategories]  WITH CHECK ADD  CONSTRAINT [FK_SubCategories_Categories_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Categories] ([Id])
GO
ALTER TABLE [dbo].[SubCategories] CHECK CONSTRAINT [FK_SubCategories_Categories_CategoryId]
GO
